@model İlanlar
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    @*@foreach (var item in Model)
        {
            <hı>@item.CompanyName</hı>
        }*@

    <h1>İlan Ekleme </h1>

    <form asp-controller="Kullanıcı" asp-action="HomeAdd" method="post">

        <div class="form-group">
            <label for="Kira">Kira</label>
            <input asp-for="Kira" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="OdaSayı">OdaSayı</label>
            <input asp-for="OdaSayı" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="MetreKare">MetreKare</label>
            <input asp-for="MetreKare" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="Semt">Semt</label>
            <input asp-for="Semt" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="EkleyenId">EkleyenId</label>
            <input asp-for="EkleyenId" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="EvId">EvId</label>
            <input asp-for="EvId" class="form-control"  required />
        </div>


        <input type="submit" value="Submit" class="btn btn-primary" />

    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>




